.category-section {
  @apply mb-24;

  &__container {
    @apply flex flex-col grow-0 shrink-0 basis-full relative w-full px-4 mx-auto 
    sm:max-w-[540px] md:max-w-[720px] laptop:max-w-[960px] desktop:max-w-7xl ;
  }

  &__title-box {
    @apply mb-16 flex items-center justify-center desktop:justify-between text-center desktop:text-left;
  }
  &__title {
    @apply flex justify-center desktop:justify-start shrink grow basis-[57%] max-w-full desktop:max-w-[57%] text-[26px] desktop:text-4xl 
    font-semibold leading-tight text-black-medium animate-fade-inup;
  }

  &__description {
    @apply hidden desktop:block flex-1 pl-[9%] text-[15px] text-gray font-light animate-fade-inup-d2 leading-relaxed;

    b {
      @apply font-light;
    }
  }

  &__categories {
    @apply animate-fade-inup-d3 -mx-[15px] flex flex-wrap mb-14;
  }

  &__category {
    @apply px-[15px] relative text-center overflow-hidden grow-0 shrink-0 basis-1/2 sm:basis-1/3 w-full;
  }

  
  &__category:nth-child(n+3) {
    @apply mt-2.5 sm:mt-0;
  }
  
  &__category:nth-child(n+4) {
    @apply sm:mt-2.5 md:mt-7;
  }
  &__category:nth-child(6n+1) &__category-entry:before,
  &__category:nth-child(6n+6) &__category-entry:before {
    background-color: #eacc14;
  }

  &__category:nth-child(6n+2) &__category-entry:before {
    background-color: #389727;
  }

  &__category:nth-child(6n+3) &__category-entry:before {
    background-color: #3573bc;
  }

  &__category:nth-child(6n+4) &__category-entry:before {
    background-color: #b30053;
  }

  &__category:nth-child(6n+5) &__category-entry:before {
    background-color: #21487d;
  }

  &__category-entry {
    @apply block relative pt-[125%] no-underline outline-none transition-all duration-200 bg-gray-light z-1;
  }

  &__category-entry::before {
    @apply content-[''] block absolute left-0 top-0 h-0 right-0 -z-1 transition-all duration-200 delay-0;
  }
 
  &__category-entry:hover::before {
    @apply desktop:h-full desktop:transition-all desktop:duration-300;
  }

  &__category-entry:hover > &__category-title {
    @apply desktop:text-white;
  }

  &__category-entry:hover > &__category-img {
    @apply desktop:bottom-5;
  }

  &__category-entry:hover > &__review-icon {
    @apply desktop:opacity-100 desktop:visible desktop:transition-all desktop:duration-0;
  }

  &__category-title {
    @apply absolute flex items-center justify-center w-full left-0 top-0 text-xl md:text-[26px] text-black-medium font-medium leading-tight h-1/4 transition-all duration-300;
  }

  &__category-img {
    @apply absolute left-0 w-full h-3/4 bottom-0 transition-all duration-500;

    img {
      @apply absolute left-0 top-0 right-0 bottom-0 m-auto max-w-[80%] max-h-[80%] w-auto opacity-100 transition-opacity duration-200;
    }
  }

  &__review-icon {
    @apply flex items-center justify-center absolute left-1/2 top-1/2 -mt-14 mr-0 mb-0 -ml-14 w-32  h-32
    font-semibold not-italic text-sm tracking-widest uppercase rounded-full text-white border border-solid border-white
    opacity-0 invisible transition-all duration-0 delay-0; 
  }

  &__review-icon::before {
    @apply content-[''] block absolute top-1/2 left-1/2 bg-white border-none w-0.5 h-5 -mt-2.5 -ml-px box-border;
  }

  &__review-icon::after {
    @apply content-[''] block absolute w-5 h-0.5 -mt-px -ml-2.5 bg-white border-none top-1/2 left-1/2 box-border;
  }

  .btn-inverted {
    @apply bg-white text-red-main hover:text-white no-underline w-fit;
  }
  
  .btn-inverted::before {
    @apply translate-y-full;
  }
  
  .btn-inverted:hover::before {
    @apply text-white translate-y-0;
  }
}